@model PassionProject.Models.MakeupProduct
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete @Model.MakeupProductName?</h2>
<div class="navbar">
    <a href="/MakeupProduct/Show/@Model.MakeupProductID">Cancel</a>
</div>
<form method="POST" action="/MakeupProduct/Delete/@Model.MakeupProductID">
    <div class="inpfield"><input type="submit" value="Confirm" /></div>
</form>
