@model PassionProject.Models.Store
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete @Model.StoreName?</h2>
<div class="option">
    <a href="/Store/Show/@Model.StoreID">Cancel</a>
</div>
<form method="POST" action="/Store/Delete/@Model.StoreID">
    <div class="input"><input type="submit" value="Confirm" /></div>
</form>
